<ion-header>

</ion-header>

<ion-content>
  <ion-card>
    <ion-list lines="full" class="ion-no-margin">
      <ion-toolbar>
        <ion-title style="text-align: center; font-size: 20px;">ลงทะเบียน</ion-title>
      </ion-toolbar>
      <ion-item>
        <ion-label position="floating">อีเมล</ion-label>
        <ion-input type="email" [(ngModel)]="this.email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">รหัสผ่าน</ion-label>
        <ion-input type="password" [(ngModel)]="this.password"></ion-input>
      </ion-item>
    </ion-list>
    <section>
      <ion-button expand="block" (click)="signUp()">ดำเนินการต่อ</ion-button>
    </section>
    <div style="display: flex; align-items: center; justify-content: center;margin-top: 10px;">
      <p>มีบัญชีผู้ใช้แล้ว ? </p> &nbsp;
      <p (click)="redirectTologin()" style="color: #7732FF;cursor: pointer;">เข้าสู่ระบบ</p>
    </div>
  </ion-card>
</ion-content>
